spring:
  application:
    name: ai-service
  datasource:
    url: jdbc:postgresql://localhost:5432/iadaf_ai
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        # dialect supprimé - auto-détection par Hibernate

server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
