spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/iadaf_db?currentSchema=users
    username: ${POSTGRES_USER:iadaf_user}
    password: ${POSTGRES_PASSWORD:iadaf_password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        # dialect supprimé - auto-détection par Hibernate
        format_sql: true
        default_schema: users
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8180/realms/iadaf}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://localhost:8180/realms/iadaf/protocol/openid-connect/certs}

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.security: DEBUG
