spring:
  application:
    name: document-service
  datasource:
    url: jdbc:postgresql://localhost:5432/iadaf_db?currentSchema=documents
    username: ${POSTGRES_USER:iadaf_user}
    password: ${POSTGRES_PASSWORD:iadaf_password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        # dialect supprimé - auto-détection par Hibernate
        format_sql: true
        default_schema: documents

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
